[submodule "themes/next"]
	path = themes/next
	url = https://github.com/kagomemiao/theme-next.git
[submodule "themes/next-reloaded"]
	path = themes/next-reloaded
	url = git@github.com:kagomemiao/next-reloaded.git
